<h1>Edit Task</h1>

<form method="POST" action="/tasks/<%= task.id %>" enctype="multipart/form-data">
  <input type="hidden" name="_method" value="PUT">
  <input type="hidden" name="authenticity_token" value="<%= session[:csrf] %>">
  <label for="description">Task Description</label>
  <input type="text" name="description" id="description" value="<%= task.description %>">
  <input type="submit" value="Save">
</form>

<form method="POST" action="/tasks/<%= task.id %>" enctype="multipart/form-data">
  <input type="hidden" name="_method" value="DELETE">
  <input type="hidden" name="authenticity_token" value="<%= session[:csrf] %>">
  <input type="submit" value="Delete">
</form>

